@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif !important;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #2ea7ee;
    --dark-blue: #3272e9;
    --secondary-color: #e42e43
}

::selection {
    background-color: var(--primary-color);
    color: #ffffff;
}

a {
    text-decoration: none;
    font-family: "Poppins", sans-serif !important;
}

ul li a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.h1 {
    font-size: 50px;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 60px;
}

.h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--primary-color);
}

.h3 {
    font-size: 30px;
    font-weight: bold;
    color: var(--primary-color);
}

h1 {
    font-weight: 600;
}

h4 {
    font-weight: 600;
}

#preloader {
    background: var(--primary-color) url('../images/giff.gif') no-repeat center center;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
}

.p1 {
    padding: 2px;
}

.p2 {
    padding: 4px;
}

.p3 {
    padding: 6px;
}

.p4 {
    padding: 8px;
}

.p5 {
    padding: 10px;
}

.pb3 {
    padding-bottom: 6px;
}

.m1 {
    margin: 2px;
}

.m2 {
    margin: 4px;
}

.m3 {
    margin: 6px;
}

.m4 {
    margin: 8px;
}

.m5 {
    margin: 10px;
}

.space5 {
    height: 5px;
}

.space10 {
    height: 10px;
}

.space20 {
    height: 20px;
}

.space50 {
    height: 50px;
}

@media only screen and (max-width: 1000px) and (min-width: 601px) {
    .h1 {
        font-size: 45px;
        font-weight: bold;
        color: var(--primary-color);
        line-height: 60px;
    }

    .h2 {
        font-size: 35px;
        font-weight: bold;
        color: var(--primary-color);
    }

    .h3 {
        font-size: 25px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 600px) and (min-width: 100px) {
    .h1 {
        font-size: 35px;
        font-weight: bold;
        color: var(--primary-color);
        line-height: 40px;
    }

    .h2 {
        font-size: 25px;
        font-weight: bold;
        color: var(--primary-color);
    }

    .h3 {
        font-size: 20px;
    }

    .h4 {
        font-size: 16px;
    }

    .h6 {
        font-size: 14px;
        font-weight: bold;
    }
}


/* ==============  Header ============== */
header {
    position: sticky !important;
    top: 0;
    box-shadow: 0px 0px 10px #00000050;
    z-index: 99;
}

.topbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    background: #ffffff;
}

.logo {
    max-width: 100%;
    min-width: 60%;
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
    .logo {
        max-width: 80%;
        min-width: 60%;
    }
}

.contact_details_topbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dd_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dropdown_items {
    background: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    right: 0;
    height: 0%;
    padding: 0px;
    width: 200px;
    z-index: 10;
}

.dd_container ul {
    display: none;
}

.dd_container:hover ul {
    display: block;
    transition: .5s;
}

.dropdown_items ul li {
    line-height: 30px;
    padding: 3px;
}

.dropdown_items ul li:hover {
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 3px;
    color: #ffffff;
}

.dd_container:hover .dropdown_items {
    height: inherit;
    transition: .3s;
    padding: 8px;
    box-shadow: 0px 0px 10px #00000050;
}

.dd_container:hover .arrow {
    transform: rotate(180deg);
    transition: 0.5s;
}

.dd-ul {
    color: black;
}

.navbar {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #4286d4 10%, #3bb0f2 90%);
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-item-ul {
    display: flex !important;
    gap: 30px;
    justify-content: center;
}

.nav-item-ul li a {
    color: #ffffff;
}

.nav-item .dropdown_items {
    left: 0 !important;
}

.search-box {
    background: var(--dark-blue);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.search-box input {
    background: transparent;
    outline: none;
    border: none;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.search-box input::placeholder {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}


.hamburger {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: var(--dark-blue);
    color: white;
    padding-top: 60px;
    transition: 0.3s;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    color: rgb(0, 255, 255);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
}

.mobile_nav {
    width: 100%;
    height: auto;
    display: none;
    background: #ffffff;
}

@media only screen and (max-width: 1100px) and (min-width: 100px) {
    .topbar {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .navbar {
        display: none;
    }

    .mobile_nav {
        display: block;
    }
}

/* ======================= Header end ======================= */

/* ======================= Hero Section ======================= */
.hero_section {
    width: 100%;
    height: auto;
    background: url("../images/home_banner.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.hero_section_content {
    padding: 30px 50px;
    flex: 1;
}

.hero_section_content a {
    color: #ffffff;
}

.main_button {
    display: inline-block;
    background: var(--primary-color);
    color: #ffffff;
    text-decoration: none;
    padding: 10px 40px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.main_button:hover {
    background: #37b1f8;
    transform: translateY(-2px);
}

@media only screen and (max-width: 1100px) and (min-width: 601px) {
    .hero_section_content {
        padding: 30px;
        flex: 1;
    }

    .knee_img {
        flex: 0;
    }
}

@media only screen and (max-width: 600px) and (min-width: 100px) {
    .hero_section_content {
        padding: 20px;
        flex: 1;
    }

    .knee_img {
        flex: 0;
    }
}

/* ======================= Hero Section Ends ======================= */

/* ======================= Nav tabs Section ======================= */
.tabs_nav {
    width: 100%;
    height: auto;
    padding: 20px 50px !important;
    background: #ffffff;
    overflow: scroll;
}

.tabs_nav::-webkit-scrollbar {
    width: 12px;
    height: 3px;
}

.tabs_nav::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.tabs_nav ul {
    display: flex;
    gap: 30px;
}

.tabs_nav ul li a {
    color: #000000;
}

.tabs_nav ul li a:hover {
    color: #000000;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 2px;
    text-underline-offset: 25px;
    z-index: 10;
}

/* ======================= Nav tabs Section ends ======================= */

/* ======================= Treatment overview ======================= */
.container {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.treatment_overview_content {
    padding-right: 100px;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dotted-line {
    border: none;
    border-top: 2px dotted var(--primary-color);
    width: 100%;
}


@media only screen and (max-width: 1100px) and (min-width: 601px) {
    .container {
        padding: 30px;
        display: block;
    }

    .treatment_overview_content {
        padding-right: 30px;
    }

    .treatment_overview_img img {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 100px) {
    .container {
        padding: 20px;
        display: block;
    }

    .treatment_overview_content {
        padding-right: 20px;
    }

    .treatment_overview_img img {
        width: 80%;
        padding-top: 20px;
    }
}

.eligibility_for_treatment {
    padding-right: 50px;
    flex: 2;
}

.contactform {
    position: sticky;
    top: 30%;
    flex: 1;
    padding: 25px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #919191;
    box-shadow: 0px 0px 10px #00000050;
    z-index: 0;
}

.contactform form input,
textarea {
    outline: 0px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #919191;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contactform form input::placeholder,
textarea::placeholder {
    font-family: poppins;
}

.contactform a {
    width: 100%;
    border-radius: 5px;
}

.form_title {
    font-style: italic;
    font-family: "Playfair Display", serif;
    color: var(--dark-blue);
}

.container2 {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.content_ul li {
    list-style: circle;
}

.content_ul li::marker {
    color: var(--primary-color);
}

@media only screen and (max-width: 600px) and (min-width: 100px) {
    .container2 {
        padding: 20px;
        display: block;
    }
}


/* FAQ */
.acordian {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.question {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 20px;
    transition: transfrom 0.2s;
}

.icon.active {
    transition: .5s;
    transform: rotate(180deg);
}

.answer {
    height: 0;
    overflow: hidden;
}

.answer.active {
    height: auto;
}